@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000410;
}

.text-primary {
  color: #fa8116;
}

.text-development-item {
  color : #fa8116;
}

.text-secondary {
  color: #fa8116;
}

.bg-development-item {
  --tw-bg-opacity: 1;
  background-color: #1d043f05;
}

.bg-skills-item {
  --tw-bg-opacity: 1;
  background-color: #0118553d;
}

.bg-text-input {
  --tw-bg-opacity: 1;
  background-color: #4e5d9917;
}

.border-items {
  border-color: #43559db3;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}